@import '../../assets/styles/variables';

.container {
  padding: 2rem;
  background-color: $background-gray;
}

.content {
  display: flex;
  gap: 2rem;
}

.filterSection {
  flex: 0 0 250px;
  background-color: white;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.productSection {
  flex: 1;
  background-color: white;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

