.cartPage {
    padding: 2rem;
    max-width: 600px;
    margin: auto;
    min-height: calc(100vh - 140px); /* Adjust this value based on your header/footer height */
    display: flex;
    flex-direction: column;
    // border: ridge;
    background-color: #fff;
    border-radius: 8px;
  }
  .yourcartdiv{
    background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(139, 69, 19, 1));
    padding: 40px;
  }
  .heading {
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
  }
  
  .cartItems {
    margin-bottom: 2rem;
    flex: 1;
  }
  
  .cartItem {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
  }
  
  .summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  