.contactPage {
  padding: 2rem;
  max-width: 600px;
  margin: auto;
  min-height: calc(100vh - 140px);
  background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(139, 69, 19, 1));
}

.heading {
  color: #fff;
  text-align: center;
  margin-bottom: 2rem;
  font-weight: bold;
}

.content {
  background-color: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input {
  margin-bottom: 1rem;
}

.submitButton {
  margin-top: 1rem;
  padding: 0.75rem 2rem !important;
  font-size: 1.1rem !important;
  border-radius: 30px !important;
  background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(139, 69, 19, 1)) !important;
  
  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  }
} 