.main {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(139, 69, 19, 1));
}

.section {
  text-align: center;
  padding: 1rem 1rem;
  background: linear-gradient(to bottom right, #ffffff, #f0f0f0);
}

.heading {
  font-size: 3rem;
  font-weight: 700;
  color: #111;
  margin-bottom: 1rem;
}

.subtext {
  font-size: 1.5rem;
  color: #555;
}

.slide {
  position: relative;
  height: 80vh;
  background-size: cover;
  background-position: center;
  display: flex !important;
  align-items: center;
  justify-content: center;
}


.overlay {
  background: rgba(0, 0, 0, 0.4);
  padding: 2rem 3rem;
  border-radius: 12px;
  text-align: center;
  color: white;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.4);
  animation: fadeInUp 0.8s ease-in-out;
}

.slide .heading {
  font-size: 2.5rem;
  font-weight: bold;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
}

.slide .subtext {
  font-size: 1.2rem;
  margin-top: 0.5rem;
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.container{}