@import "tailwindcss";
@import './assets/fonts.css';

a {
    text-decoration: none;
}

.MuiButton-root {
    text-transform: capitalize !important;
}

.slick-prev {
    &:before {
        content: none;
      }
}